recursive-include secretfy_template/res secrets.*
recursive-include secretfy_template/res *.mustache
include secretfy_template/baseconfig1.yaml
include secretfy_template/baseconfig.yaml
include requirements-dev.txt
